{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
<section class="post-detail">

    {% if post.banner %}
    <div class="post-banner">
        <img src="{{ post.banner.url }}" alt="{{ post.title }}">
    </div>
    {% endif %}

    <article class="post-content">

        <h1 class="post-heading">
            {{ post.title }}
        </h1>

        <p class="post-meta">
            📅 {{ post.date }}
        </p>

        <div class="post-text">
            {{ post.body }}
        </div>

    </article>

</section>
{% endblock %}
