{% extends "layout.html" %}
{% block title %}Posts{% endblock %}

{% block content %}
<section class="posts-wrapper">
  <h1 class="page-title">All Posts</h1>

  <div class="posts-grid">
    {% for post in posts %}
      <article class="post-card">
        <h3 class="post-title">
          {% if post.slug %}
            <a href="{% url 'posts:page' slug=post.slug %}">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %} 
        </h3>
      

        <p class="post-date">📅 {{ post.date }}</p>

        <p class="post-body">{{ post.body|truncatechars:180 }}</p>

        {% if post.slug %}
          <a class="btn-secondary" href="{% url 'posts:page' slug=post.slug %}">Read more</a>
        {% endif %}
      </article>
    {% empty %}
      <p>No posts yet.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}

